<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About TwoWheelTrips</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <header>
        <h1 class="logo">TwoWheelTrips</h1>
        <nav class="navigation">
            <a href="/login" class="login-page">Login</a>
            <a href="/" class="login-page">Home</a>
            <a href="/contact" class="contacts-page">Contact Us</a>
        </nav>
    </header>
    <div class="container">
        <h1>About TwoWheelTrips</h1>
        <div class="mission">
            <h2>Our Mission</h2>
            <p>Embark on a thrilling journey with TwoWheelTrips as we strive to redefine the biking experience. Our mission is to provide a seamless and enjoyable biking platform, making your rides convenient, adventurous, and memorable. We are dedicated to creating a cycling community that celebrates freedom, health, and exploration.</p>
        </div>
        <div class="services">
            <h2>Our Services</h2>
            <p><strong>Online Bike Reservations:</strong> Explore our user-friendly platform for browsing diverse biking routes, comparing rental options, and securing your bike in advance. No more hassles, just easy and efficient online bike booking.</p>
            <p><strong>Flexible Ride Options:</strong> Choose the bike that suits your style, whether it's a sleek road bike, a sturdy mountain bike, or a comfortable city cruiser. TwoWheelTrips offers a range of bikes to match your preferences and riding terrain.</p>
            <p><strong>24/7 Rider Support:</strong> Our committed support team is available 24/7 to assist you. Whether you have questions about bike selection, need route recommendations, or require emergency support, we're just a message or call away.</p>
        </div>
        <div class="contact">
            <p>Ready to embark on your biking adventure with TwoWheelTrips? Visit our website or download our mobile app to start your journey today! For inquiries or assistance, reach out to our friendly customer support team at <a href="mailto:info@twowheeltrips.com">info@twowheeltrips.com</a> or <a href="tel:+254724070304">+254724070304</a>. Thank you for choosing TwoWheelTrips - where every ride is an adventure!</p>
        </div>
    </div>
</body>
</html>
