<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1 class="logo">TwoWheelTrips</h1>
        <nav class="navigation">
            <a href="/login" class="login-page">Login</a>
            <a href="/contact" class="contacts-page">Contact Us</a>
            <a href="/about" class="contacts-page">About Us</a>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to our Bike Booking System</h1>
        <p>Explore our wide range of bikes and plan your next adventure!</p>
        
    </div>
    <footer>
        <p>&copy; 2024 UrbanExpress. All rights reserved.</p>
    </footer>
</body>
</html>